org.xfce.PanelProfiles.desktop
*.gz
*.orig
*.tar.bz2
*.xml
*~
Makefile.in
Makefile
locale
bin/xfce4-panel-profiles
bin/xfce4-panel-profiles.in
po/xfce4-panel-profiles.pot
xfce4-panel-profiles/info.py
xfce4-panel-profiles/info.py.in
data/layouts/cupertino/launcher-16/xfce4-file-manager.desktop
data/layouts/cupertino/launcher-17/xfce4-web-browser.desktop
data/layouts/gnome2/launcher-5/xfce4-web-browser.desktop
data/layouts/gnome2/launcher-6/xfce4-mail-reader.desktop
data/layouts/redmond7/launcher-3/xfce4-web-browser.desktop
data/layouts/redmond7/launcher-4/xfce4-file-manager.desktop
data/layouts/redmond7/whiskermenu-1.rc
data/layouts/unity/whiskermenu-1.rc
data/layouts/xfce-4.12/launcher-10/xfce4-terminal-emulator.desktop
data/layouts/xfce-4.12/launcher-11/xfce4-file-manager.desktop
data/layouts/xfce-4.12/launcher-12/xfce4-web-browser.desktop
data/layouts/xfce-4.14/launcher-16/xfce4-terminal-emulator.desktop
data/layouts/xfce-4.14/launcher-17/xfce4-file-manager.desktop
data/layouts/xfce-4.14/launcher-18/xfce4-web-browser.desktop
data/layouts/xfce-4.16/launcher-16/xfce4-terminal-emulator.desktop
data/layouts/xfce-4.16/launcher-17/xfce4-file-manager.desktop
data/layouts/xfce-4.16/launcher-18/xfce4-web-browser.desktop
data/layouts/xubuntu-12.04/launcher-15/xfce4-web-browser.desktop
data/layouts/xubuntu-12.04/launcher-16/xfce4-mail-reader.desktop
data/layouts/xubuntu-12.04/launcher-17/xfce4-terminal-emulator.desktop
data/layouts/xubuntu-14.04/whiskermenu-1.rc
data/layouts/xubuntu-18.04/whiskermenu-1.rc
